/* setting */

:root{
    --bsf-black: #000000;
    --bsf-dark-gray: #1F1F1F;
    --bsf-lightgray: #363636;
    --bsf-extralightGray: #BEBCBB;
    --bsf-btnGray: #D9DADC;
    --bsf-orange: #CD3D0F;
    --bsf-darkBlue: #161C3B;
    --bsf-blue: #00439C;
    --bsf-lightBlue: #2D64E6;
}
.bsf_bg_black {
    background-color: var(--bsf-black);
}
.bsf_bg_dark-gray {
    background-color: var(--bsf-dark-gray);
}
.bsf_bg_lightgray {
    background-color: var(--bsf-lightgray);
}
.bsf_extralightGray {
    background-color: var(--bsf-extralightGray);
}
.bsf-btnGray {
    background-color: var(--bsf-btnGray);
}
.bsf_bg_orange {
    background-color: var(--bsf-orange);
}
.bsf_bg_darkBlue {
    background-color: var(--bsf-darkBlue);
}
.bsf_bg_blue {
    background-color: var(--bsf-blue);
}
.bsf_bg_lightBlue {
    background-color: var(--bsf-lightBlue);
}
body{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.rounded_4{
    border-radius: 0.6rem;
}
/* header */
/* hero ********/
.hero_top{
    background-image: url(/img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 580px;
    background-repeat: no-repeat;
}

h2{
    font-size: 38px;
}

h5{
    color: var(--bsf-lightBlue);
}

.hero_top img{
    width: 65%;
}

.game_it_takes_two img, .ps_plus img{
    width: 58%;
}

.game_it_takes_two{
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
}

.ps_plus button{
    color: #2D64E6;
}

.bg_col_img{
    background-image: url(/img/ps-plus-april-monthly-games-featured-image-block.png);
    background-position: center;
    background-size: contain;
    height: 0;
    background-repeat: no-repeat;
}

@media screen and (min-width: 767px) {
    .bg_col_img{
        height: 28.5vw;
    }
  }